/* Base
--------*/

/* Default */

body {
  margin:0;
  padding:0;
  text-align:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:16px;
  font-weight:normal;
  color:#fff;
  background:#eee;
}

a {
  text-decoration:none;
  color:#52a5dd;
}
* html a {
  height:1%;
}
a:hover {
  color:#2c88c2;
}
a * {
  cursor:pointer;
}

h1 {
  margin:0 0 12px 0;
  line-height:36px;
  font-size:32px;
  font-weight:normal;
}
h2,
div.google-map-field-label
 {
  margin:0 0 6px 0;
  line-height:28px;
  font-size:24px;
  font-weight:normal;
}
h3 {
  margin:0 0 6px 0;
  line-height:24px;
  font-size:20px;
  font-weight:normal;
}
h4 {
  margin:0 0 6px 0;
  line-height:20px;
  font-size:inherit;
  font-weight:normal;
}
h5,
h6 {
  margin:0;
  line-height:20px;
  font-size:inherit;
  font-weight:bold;
}

p {
  margin:6px 0 12px 0;
  line-height:20px;
}

ol,ul {
  margin:6px 0 12px 10%;
  padding:0;
  line-height:20px;
}
ol li {
  list-style:decimal outside;
}
ul li {
  list-style:disc outside;
}

dl {
  margin:6px 0 12px 0;
  padding:0;
  line-height:20px;
}
dl dt {
  font-weight:bold;
}
dl dd {
  margin:0 0 6px 10%;
}

address {
  margin:6px 0 12px 0;
  font-style:normal;
}

blockquote {
  margin:18px 5% 18px 10%;
  line-height:28px;
  font-size:24px;
  font-style:italic;
  color:#52a5dd;
}
blockquote p {
  line-height:inherit;
  font-size:inherit;
}
blockquote cite {
  display:block;
  padding:6px 0 0 0;
  line-height:18px;
  font-family:Arial,Helvetica,sans-serif;
  font-size:14px;
  font-style:normal;
  color:#999;
}

hr {
  height:1px;
  margin:0;
  padding:0;
  background:#4d4d4d;
  border:0;
}

img {
  max-width:100%;
  border:0;
}

table {
  width:100%;
  margin:12px 0;
  border:0;
  border-collapse:separate;
  border-spacing:0;
}
caption {
  padding:8px 0;
  line-height:20px;
  font-size:inherit;
  font-style:italic;
  font-weight:normal;
  text-align:left;
  color:#999;
}
table tr th {
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:normal;
  color:#fff;
  background:#999;
  border:1px solid #fff;
}
table tr td {
  padding:3px 5px;
  text-align:left;
  vertical-align:middle;
  background:#f2f2f2;
  border:1px solid #fff;
}
table tr:first-child th {
  border-top:0;
}
table tr:last-child td {
  border-bottom:0;
}
table tr td:first-child,
table tr th:first-child {
  border-left:0;
}
table tr td:last-child,
table tr th:last-child {
  border-right:0;
}

form {
  margin:0;
}
input,select,textarea {
  font:normal 1em Arial,Helvetica,sans-serif;
}
input[type="email"],
input[type="text"],
input[type="password"],
select,
textarea {
  padding:3px;
  border:1px solid #888;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
input[type="email"],
input[type="text"],
input[type="password"],
select {
  max-width:96%;
}
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  border-color:#2c88c2;
}
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display:inline-block;
  width:auto;
  padding:3px 6px;
  overflow:visible;
  font-weight:normal;
  color:#fff;
  background:#52a5dd;
  border:0;
  cursor:pointer;
}
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background:#2c88c2;
}
span.form-required {
  color:#fa0;
}

fieldset {
  margin:12px 0;
  border:0;
}
fieldset legend {
  font-size:20px;
  font-weight:bold;
  color:#4d4d4d;
}

div.form-item {
  min-height:1%;
  margin:6px 0;
}
* html div.form-item {
  height:1%;
}
div.form-item:after {
  content:'.';
  display:block;
  clear:left;
  height:0;
  visibility:hidden;
}

div.form-item label {
  display:block;
  padding:3px 0;
}
div.form-item label.option {
  display:inline-block;
  padding:0;
}
div.form-item div.description {
  clear:left;
  margin:3px 0 0 0;
  padding:8px 10px;
  line-height:18px;
  font-size:14px;
  color:#aaa;
  background:#f2f2f2;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
div#edit-copy-wrapper,
div.views-admin-links {
  display:none;
}
div.wysiwyg {
  margin:12px 0;
}

embed,object {
  display:block;
  margin:0;
  padding:0;
}


/* General */

.textleft {
  text-align:left;
}
.textcenter {
  text-align:center;
}
.textright {
  text-align:right;
}
.floatleft {
  float:left;
}
.floatright {
  float:right;
}
.clearleft {
  clear:left;
}
.clearright {
  clear:right;
}
.clearboth {
  clear:both;
}

div.tabs {
  margin:1em 3.0303%;
}
ul.primary {
  height:1%;
  margin:0;
  padding:0 10px;
  border-bottom:1px solid #aaa;
}
* html ul.primary {
  height:1%;
}
ul.primary:after {
  content:'.';
  display:block;
  clear:both;
  height:0;
  visibility:hidden;
}
ul.primary li {
  float:left;
  margin:0 5px 0 0;
  padding:0;
  list-style:none;
}
ul.primary li a {
  float:left;
  margin:0;
  padding:3px 10px;
  background:#ddd;
  border-top:1px solid #aaa;
  border-left:1px solid #aaa;
  border-right:1px solid #aaa;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
ul.primary li a:hover {
  background:#eee;
  border-color:#aaa;
}
ul.primary li.active a,
ul.primary li.active a:hover {
  margin-bottom:-1px;
  padding-bottom:4px;
  background:#fff;
  border-bottom:0;
  border-color:#aaa;
}
ul.secondary {
  height:1%;
  margin:0;
  padding:3px 10px;
  border-bottom:1px solid #aaa;
}
* html ul.secondary {
  height:1%;
}
ul.secondary:after {
  content:'.';
  display:block;
  clear:both;
  height:0;
  visibility:hidden;
}
ul.secondary li {
  float:left;
  margin:0;
  padding:0;
  border:0;
}
ul.secondary li a {
  float:left;
  margin:0 5px 0 0;
  padding:2px 10px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
ul.secondary li a:hover {
  background:#eee;
}
ul.secondary li.active a {
  border:0;
  background:#ddd;
}

ul.pager {
  margin:3% 0;
  padding:0;
  text-align:center;
}
ul.pager li {
  display:inline-block;
  margin:0 !important;
  padding:0 !important;
}
ul.pager li a,
ul.pager li.pager-current {
  display:inline-block;
  padding:5px 8px !important;
  text-transform:capitalize;
  color:#fff;
  background:#52a5dd;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
ul.pager li.pager-current {
  font-weight:normal;
  color:#666;
  background:#fff;
}
ul.pager li a:hover {
  background:#4d4d4d;
}

div.views-row {
  min-height:1%;
  margin:6px 0 12px 0;
  line-height:20px;
}
* html div.views-row {
  height:1%;
}
div.views-row:after {
  content:'.';
  display:block;
  clear:both;
  height:0;
  visibility:hidden;
}
div.views-field-title,
div.views-row-title {
  font-weight:bold;
}

div.view-signposts div.views-row a {
  display:block;
  background:#f5f9fe;
  border-top:1px solid #52a5dd;
  border-bottom:1px solid #52a5dd;
}
div.view-signposts div.views-row a:hover {
  background:#e5eff7;
  border-color:#2c88c2;
}
div.view-signposts div.views-row a span {
  display:block;
}
div.view-signposts div.views-row a span.title {
  padding:3% 8% 3% 5%;
  color:#fff;
  background:#52a5dd url('../images/icon-arrow-right-white.png') no-repeat 94% 12px;
}
div.view-signposts div.views-row a:hover span.title {
  background-color:#2c88c2;
}
div.view-signposts div.views-row a span.image {
  float:left;
  width:40%;
  margin:0 0 0 5%;
  padding:5% 0;
}
div.view-signposts div.views-row a span.image img {
  float:left;
}
div.view-signposts div.views-row a span.body {
  padding:5% 5% 5% 50%;
  line-height:18px;
  font-size:14px;
}

div.view-links div.views-row {
  margin:0;
  border-bottom:1px solid #f2f2f2;
}
div.view-links div.views-row a {
  display:block;
  margin:0;
  padding:2% 10% 2% 0;
  background:url('../images/icon-arrow-right-blue.png') no-repeat right 10px;
}

div.messages,
div.preview {
  margin:0 3.0303% 2% 3.0303%;
  padding:10px;
  color:inherit;
  background:#eee;
  border:1px solid #ddd;
}
div.messages p,
div.messages ol,
div.messages ul,
div.preview p,
div.preview ol,
div.preview ul {
  margin-top:2px;
  margin-bottom:2px;
}
div.status,
div.warning,
div.error {
  min-height:20px;
  padding-left:40px;
}
div.status {
  color:#409e26;
  background:#f5fee5 url('../images/icon-message-status.png') no-repeat 10px 10px;
  border:1px solid #409e26;
}
div.warning {
  color:#db8014;
  background:#fef9f5 url('../images/icon-message-warning.png') no-repeat 10px 10px;
  border:1px solid #db8014;
}
div.error {
  color:#d23842;
  background:#fff5fb url('../images/icon-message-error.png') no-repeat 10px 10px;
  border:1px solid #d23842;
}
